<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white;" class="navbar-brand" href="#">SIDDHINATH HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
       
      </li>
    </ul>

    <div class="d-flex align-items-center" style="margin-right: 10px;">
      <a class="btn btn-info " style="margin-right: 10px;" routerLink="/docdash">Back</a>
      <a class="btn btn-danger" (click)="docLogout()">Logout</a>
    </div>
  </div>
</nav>
<div class="container">

    <h2 class="text-center">Add New Patient</h2>
    <form (ngSubmit)="onSubmit()">
    <!-- <form > -->

        <div class="form-group">

            <label > Name</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Enter Name" [(ngModel)]="patient.name">
        </div>
        <div class="form-group">

            <label > Age</label>
            <input type="text" id="age" class="form-control" name="age" placeholder="Enter Age" [(ngModel)]="patient.age">
        </div>
        <div class="form-group">

            <label > Blood</label>
            <input type="text" id="blood" class="form-control" name="blood" placeholder="Enter blood" [(ngModel)]="patient.blood">
        </div>
        <div class="form-group">

            <label > Presciption</label>
            <input type="text" id="presciption" class="form-control" name="presciption" placeholder="Enter presciption" [(ngModel)]="patient.prescription">
        </div>
        <div class="form-group">

            <label > Dose</label>
            <input type="text" id="dose" class="form-control" name="dose" placeholder="Enter dose" [(ngModel)]="patient.dose">
        </div>
        <div class="form-group">

            <label > Fees</label>
            <input type="text" id="fees" class="form-control" name="fees" placeholder="Enter fees" [(ngModel)]="patient.fees">
        </div>
        <div class="form-group">

            <label > Urgency</label>
            <input type="text" id="urgency" class="form-control" name="urgency" placeholder="Enter urgency" [(ngModel)]="patient.urgency">
        </div>
        <button type="submit" class="btn btn-success"> Submit</button>
    </form>

</div>